body {
  font-family: "Montserrat";
  text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  size: 3.5rem;
  line-height: 1.5;
}

/* Headings  */

.big-heading {
  font-family: "Montserrat";
  font-weight: 900;
  font-size: 3.5rem;
  line-height: 1.5;
}
.section-heading {
  size: 3.5rem;
  line-height: 1.5;
}

.container-fluid {
  padding: 7% 15%;
}

/* Navigation Bar */

.navbar {
  padding-bottom: 4.5rem;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: "Montserrat";
}

/* Download Bottons */

.download-button {
  margin: 5% 3% 5% 0;
}

/* Title section  */

#title {
  background-color: #ff4c68;
  color: white;
  text-align: left;
}

#title .container-fluid {
  padding: 3% 15% 7%;
}

/* Title image */

.div-title-image {
  position: relative;
}

.title-image {
  width: 60%;
  transform: rotate(25deg);
  position: absolute;
  right: 28%;
}

/* Features */
#features {
  background-color: white;
  position: relative;
}

.features-text {
  font-size: 1.5rem;
  font-weight: bold;
}

.icon-features {
  color: #ef8172;
  font-size: 4rem;
  padding-bottom: 1rem;
}
.icon-features:hover {
  color: #ff4c68;
}

.col-features {
  padding: 7.5% 2%;
}

.text-features {
  color: #8f8f8f;
  background-color: black;
}

.p-features {
  padding: 2% 4%;
  color: #8f8f8f;
}

/* Testimonial section */

#testimonials {
  padding: 4% auto;

  background-color: #ef8172;
  color: white;
}

.testimonial-text {
  font-size: 3rem;
  line-height: 1.5;
}

.testimonial-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

#press {
  background-color: #ef8172;

  padding-bottom: 3%;
}

.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}

/* Pricing */

#pricing {
  padding: 100px;
}

.pricing-column {
  padding: 3% 2%;
}

.price-text {
  font-size: 3rem;
  line-height: 1.5;
}

/* Call the action  */

#cta {
  background-color: #ff4c68;
  color: white;
}

/* Footer  */

.icon-footer {
  padding: 1%;
}

.text-footer {
  color: #8f8f8f;
}

/* Media  */

@media (max-width: 991px) {
  .title-image {
    position: static;
    transform: rotate(0);
  }
  #title {
    text-align: center;
  }
}
